<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" charset="utf-8">
    <title>Pimsleur Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

<div id="alert-modal" class="off">
    <div id="alert-panel">
        <div id="alert-txt">test</div>
        <div id="alert-btn" class="btn">OK</div>
    </div>
</div>

<div id="spinner" class="center-div off">
    <div id="spinner-modal"></div>
    <div class="ios-spinner">
        <div class="spinner-bars">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
            <div class="bar bar4"></div>
            <div class="bar bar5"></div>
            <div class="bar bar6"></div>
            <div class="bar bar7"></div>
            <div class="bar bar8"></div>
            <div class="bar bar9"></div>
            <div class="bar bar10"></div>
            <div class="bar bar11"></div>
            <div class="bar bar12"></div>
        </div>
        <div id="spinner-txt" class="ios-spinner-txt"></div>
    </div>
</div>

<div id="inner" class="form form-as-column">
    <div id="logo-container">
        <div class="logo"></div>
        <div id="login-form-title">Pimsleur Account Login</div>
    </div>

    <div id="form-container">
        <button id="fb-login" class="social-button fb-btn">
            <img src="/logo/social_logo_facebook.png" class="social-logo">
            Log in with Facebook
        </button>
        <button id="apple-login" class="social-button apple-btn">
            <img src="/logo/social_logo_apple.png" class="social-logo">
            Log in with Apple
        </button>

        <div class="login-form">
            <input type="hidden" name="state" th:value="${state}">
            <input type="hidden" name="redirect_uri" th:value="${redirect_uri}">

            <div id="email-err" class="off">Required field:</div>
            <input id="email-username-field" type="email" name="email" placeholder="email" autocorrect="off" autocapitalize="none">
            <div id="password-err" class="off">Required field:</div>
            <input id="password-field" type="password" name="password" placeholder="password" autocorrect="off" autocapitalize="none">

            <button id="regular-login">LOG IN</button>
            <div class="link"><a id="create-account" href="https://shop.pimsleur.com/default/account">Create a Pimsleur.com Account</a></div>
            <div class="reset-link message"><a id="reset-pw-link" href="https://pages.pimsleurdigital.com/auth0/password-reset.html">Forgot password?</a></div>
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
<script src="login.js"></script>

</body>

</html>

